@media screen and (max-width: 575.98px) {
	.position {
		width: 424px;
	}
	.back_call {
		display: none;
	}
	.list_panel	{
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		margin-top: 76px;
    	margin-left: 16px;
	}
	.panel_navigation .logo {
		justify-content: space-between;
	}
	.logo img {
		max-width: 60px;
	}
	.logo h1 {
		margin-left: 0;
	    font-size: 27px;
	    line-height: 24px;
	}
	button.burger {
		display: revert;
		padding: 0;
	    margin: 0;
	    background-color: #fff;
	    border: none;
	}
	.burger hr {
		padding: 0;
	    margin: 3px;
	    color: #F13C6E;
	}
	.cover_section {
		height: 208px;
	}
	.chair-out-circle {
		width: 296px;
    	height: 296px;
	}
	.chair-inner-circle {
	    width: 226px;
	    height: 226px;
	}
	.chair-inner-circle img {    
		max-width: 205px;
	}
	.cover_item {
		width: 166px;
	}
	.cover_item h2 {
		font-size: 22px;
    	margin-bottom: 0;
	}
	.text_style {
		font-size: 8px;
    	line-height: 10px;
	}
	.cover_item .button {
		margin-top: 14px;
	}
	.button {
		height: 24px;
    	width: 88px;
	}
	.offer_section, .viewed_section {
	    padding-top: 25px;
	    padding-bottom: 25px;
	}
	h3 {
		font-size: 14px;
    	line-height: 12px;
	}
	.list_offer_viewed {
		display: revert;
    	columns: 2;
    	-webkit-columns: 2;
	}
	.offer_viewed_item {
		margin-bottom: 16px;
	    padding: 28px;
	    width: 200px;
	    margin-right: 0;
	}
	.offer_viewed_item img {
		margin-bottom: 5px;
	}
	.brands_section {
		padding-top: 40px;
	}
	.list_brands li {
		padding: 20px 12px;
	}
	.list_brands li img {
		max-width: 68px;
	}
	.mail_map {
		width: 100%;
    	height: 140px;
	}
	.mail {
    	background-size: 105px 105px;
	    margin-right: 0;
	    margin-bottom: 14px;
	    background-position: 86% center;
	}
	.list_mail_map {
    	padding-left: 44px;
	}
	.list_mail {
    	width: 250px;
	}
	.mail_map h4 {
	    font-size: 14px;
	    line-height: 16px;
	}
	.list_mail_map .text_style {
	    padding-top: 8px;
	    padding-bottom: 8px;
	}
	.text_style {
	    font-size: 10px;
	    line-height: 12px;
	}
	.list_mail .button {
	    width: 160px;
	    height: 22px;
	    padding-left: 16px;
	}
	.button {
	    font-size: 9px;
	    line-height: 10px;
	}
	.header_navigation .header_menu {
		bottom: 63%;
	}
	.list_map .button {
	    height: 22px;
	}
	.map {
	    background-size: 108px 68px;
	    background-position: 86% center;
	}
	.list_privacy .text_style {
	    font-size: 6px;
	    line-height: 6px;
	}
	.panel_menu {
		display: none;
		flex-direction: row;
		justify-content: space-between;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 58%;
		background-color: #FFF;
		z-index: 2;
		background-image: url(./img/logo/logo.png);
	    background-repeat: no-repeat;
	    background-size: 60px 60px;
	    background-position: 2% 4%;
	}
	.panel_menu span {
		display: block;
		position: absolute;
	    top: 28px;
	    left: 80px;
	    color: red;
	    font-size: 18px;
	    font-weight: 600;
	    letter-spacing: 0.07em;
	    font-family: 'Roboto';
	}
	.panel_menu .close {
		align-self: flex-start;
		display: block;
	}
	.list_panel li::before {
	    content: '\25ba'; /* Добавляем маркер в шестнадцатеричном формате*/
	    padding-right: 5px; /* Расстояние от маркеров до текста */
	    color: #f34f4f;
	}
	.list_panel li a {
		font-size: 16px;
		line-height: 40px;
	}
	.search .menu, .burger, .close, .header_menu span, .panel_menu span {
		cursor: pointer;
	}
	.information_section .position {
		flex-direction: column;
    	align-items: center;
	}
}